@inherits LayoutComponentBase
<div class="page" style="color: aqua;">
    <div class="sidebar">
        NavMenu klasse kall (MainLayout.razor):
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="color: burlywood;">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>
        Main Body  (MainLayout.razor):
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
